<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>LockBox - 2FA form</title>

    <!-- Custom fonts for this template-->
    <link
      href="/static/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin.css" rel="stylesheet" />
  </head>

  <body class="bg-dark">
    {% block body %}
    <div class="container">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">2FA</div>
        {% from "includes/_formhelpers.html" import render_field %}
        <div class="card-body">
          <form method="POST" action="">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="form-group">
              {{render_field(form.code2fa, class_="form-control")}}
            </div>

            <button class="btn btn-primary btn-block" type="submit">
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
  </body>
</html>
<!-- # Aden Seow -->
